<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <link rel="stylesheet" href="/css/style.css">
        <link href="/assets/css/style.css" rel="stylesheet" />

         <script  src="https://code.jquery.com/jquery-1.12.4.js" integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="  crossorigin="anonymous"></script>

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <script type="text/javascript" src="/js/script.js"></script>



        
    </head>
    <body>

        <div class="row" id="base">
          <div class="col-xs-1"></div>
          <div class="col-xs-10">          
            <div class="row">
              <div class="col-xs-7"><h1>Блог</h1></div>
              <div class="col-xs-3">                
                <div class="page-header">
                  <ul class="nav nav-pills">
                    <li role="presentation" ><a href="/">Головна</a></li>
                    <li role="presentation" ><a href="{{ path('post_new') }}">Новий Пост</a></li>
                 </ul>   
                </div>                           
              </div>            
            </div>

          {% block body %}{% endblock %}

          <div class="col-xs-1"></div>
        </div>
        

           
        {% block javascripts %}

       
        {% endblock %}
    </body>
</html>
