
#post-images{
	width: 630px;
	height: 306px;
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}

.post-show-h2 {
	text-align: center;
}

#post-content{
	margin-top: 5%;
}

