{% extends 'base.html.twig' %}

{% block body %}
    <h1>Список постів</h1>

    <table class="table">
        <thead>
            <tr>
                <th>№</th>
                <th>Назва</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td><a href="{{ path('post_show', { 'id': post.id }) }}">{{ post.id }}</a></td>
                <td><a href="{{ path('post_show', { 'id': post.id }) }}">{{ post.title }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <nav aria-label="Page navigation">
      <ul class="pagination">
       {% if page > 1 %} 
        <li>
          <a href="/?page={{ page - 1}}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        {% endif %}
        

        {% for i in 1..count %}
            
      
        <li><a href="/?page={{ i }}">{{ i }}</a></li>
        
        {% endfor %}

        {% if page < count %} 
        <li>
          <a href="/?page={{ page + 1}}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
        {% endif %}
      </ul>
    </nav>


{% endblock %}
