{% extends 'base.html.twig' %}

{% block body %}
    <h2>Новий пост</h2>

        <div class="row" id="post-show">
          <div class="col-xs-12" id="photo_load">{% include 'post/img.html.twig' %}</div>
        </div>  

    

    {{ form_start(form) }}
        <div class="form-group">
        {{ form_widget(form.title,{ 'attr': {'class': 'form-control' , 'placeholder': 'Назва поста'} }) }}   
        </div>  

        <div class="form-group">
        {{ form_label(form.photo, "Фото Поста")}}
        {{ form_widget(form.photo,{ 'attr': {'class': 'form-control' , 'type': 'file', 'placeholder': 'фото'} }) }}   
        </div>  

        <div class="form-group">   
        {{ form_widget(form.content,{ 'attr': {'class': 'form-control'} }) }}   
        </div> 

        {{ form_widget(form) }}
        <input type="submit" value="Створити"  class="btn btn-default" />
        {{ form_end(form) }}


{% endblock %}
