{% extends 'base.html.twig' %}

{% block body %}
    <h1>Для написання поста оплатіть 10 грн.</h1>

    <div class="row">
      <div class="col-xs-12">
       {{ button | raw}}
      </div>
      
    </div>

    
{% endblock %}
