{% extends 'base.html.twig' %}

{% block body %}
    <h2 class="post-show-h2"> {{ post.title }} </h2>

        {% if post.photo %}
        <div class="row" id="post-show">
          <div class="col-xs-12"><img src="/uploads/{{ post.photo }}" id="post-images"></div>
        </div>  
        <br>
        {% endif %}

        <div class="row" id="post-content">
          <div class="col-xs-12"> {{ post.content | raw }}</div>
        </div>  

        <div class="row">
          <div class="col-xs-2"></div>
          <div class="col-xs-8">
              <div id="post-comment-new">         

                </div>

                <div id="post-comment">
                    <div class="panel panel-info">
                        <div class="panel-heading"> 
                            <h3 class="panel-title">Коментарі</h3> 
                        </div> 
                        <div class="panel-body"> 
                            {% for comment in comments %}

                            <p><strong>Гість: </strong>&#8220;&#160;{{ comment.comment }}&#160;&#8222;</p>
                                
                           {% endfor %}
                         </div> 
                    </div>        
                </div>
          </div>
          <div class="col-xs-2"></div>
        </div>  


<script type="text/javascript">insertComment({{ post.id }});</script>  


                
   
{% endblock %}
